.text-align-center {
    text-align: center;
}

h1, h3{
    text-align: center;
}

h3{
    font-size: 1rem;;
}
h2{
    font-size: 1rem;
    text-align: center;
}

/* button {
    margin-top: 3%;
    margin-right: 2%;
    height: 3rem;
    border: 2px solid black;;
    background-color: lightgray;
} */

.totalPayment{
    text-align: right;
    font-weight: bold;   
}

.done{
    padding: 2%;
    width: 20%;
    display: block;
    margin: auto    ;
}

 .alert{
   margin-bottom: 0%;
} 


.paymentButtons{
    padding: 2%;
    margin-left: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    
}

.box{
    padding-top: 2%;    
    width: 20%;
    padding: 1rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
    
@media screen and (max-width: 980px) {
    h1{
        font-size: 1rem;
    }

    h3{
        font-size: .8rem;
    }

    button {
        margin-top: 3%;
        margin-right: 2%;
        height: 2rem;
        border: 2px solid black;;
    }

  }

  @media screen and (min-width: 501px) and (max-width: 1550px){
    input{
        width: 15%;
    }
  } 

  @media screen and (min-width: 460px) and (max-width: 500px){
    h1{
        font-size: 1rem;
    }

    h3{
        font-size: .8rem;
    }

    button {
        margin: auto;
        height: 1.7rem;
        border: 2px solidblack;;
    }
    .payment{
        text-align: right;
        font-size: 1rem;
    }

    input{
        width: 35%;
        
    }
    .paymentButtons{
        margin-left: 0%;

        margin-top: 10%;
        width: 20%;
        display: flex;
        flex-direction: column;
        
    }

    .done{
        margin-top: 0%;
        margin-left: 0%;
    }
    .box{
        margin-top: auto;
    }
    .alert{
        height: 10%;
        width: 60%;
        margin: auto;
     } 
     
  }